.App {
  text-align: center;
}

.App-title {
  font-size: 20px;
  text-transform: uppercase;
}

.chart-list {
  padding: 0;
  margin: 20px;
}

.chart-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.chart-item-title {
  width: 150px;
  text-align: right;
}

.chart-container {
  display: flex;
  width: 100%;
}

.chart-section {
  position: relative;
}

.chart-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}